* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    text-decoration: none;
    // outline: 1px solid red;
    list-style-type: none;


}

html {
    // font-size: 62.5%;
    scroll-behavior: smooth;

    // scrollbar-color: blue;
    // scrollbar-track-color: aqua;

    


}


body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: $color-black;
    line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5 {
    color: $color-white;
}

h1 {
    font-size: 4.4rem;
    line-height: 1.1;
}

h2 {
    font-size: 2rem;
}

.lead {
    width: 63%;
    line-height: 1.5;
    margin: 0 auto 3rem;
}

img {
    width: 100%;
    display: block;
   
}

.container {
    width: $width-lg;
    margin: 0 auto;


}

section {
    padding: 6rem 0;
    margin: 5rem 0;
}

.btn {
    background: $color-deep;
    color: $color-white;
    display: inline-block;
    width: fit-content;
    padding: 0.8rem 1.6rem;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 400ms ease;
}

.btn:hover {
    background: $color-light;
    color: $color-black;

}

.btn-primary {
    background: $color-blue;
    color: $color-white;
}

.btn-primary:hover {
    border-color: $color-blue;
    background: $color-light;
    color: $color-blue;
}

.btn-lg {
    padding: 1.1rem 2rem;
    font-size: 1.2rem;
}



@media screen and (max-width:1024px) {
    .container {
        width: $width-md;
    }  
}


@media screen and (max-width:600px) {
    .container {
        width: $width-sm;
    }  
}
