$color-black:#0A0A0A;
$color-white:#FFFFFF;

$color-purple:#865DFF;

$color-blue:#19A7CE;
$color-deep:#00008B;
$color-b:#0044ff;
$color-id:#E21818;
$color-e:#16FF00;
$color-f:#4caf50;

$color-brown:#c38452;

$color-light:#f5f5f5;

$width-lg: 82%;
$width-md: 90%;
$width-sm: 92%;
